/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  /*color: #222;*/
  font-size: 14px;
  line-height: 1.3;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: #080e18;
  color: #fff;
  font-family: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               Oxygen,
               Ubuntu,
               Cantarell,
               "Open Sans",
               "Helvetica Neue",
               sans-serif;
}

p {
  margin: 0 0 0.5rem;
}

h4 {
  margin: 0 0 0.5rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.05rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo {
  /*display: none;*/
  width: 436px;
  height: 889px;
  background: url("../img/iphone.png") no-repeat center;
  background-size: 100% auto;
  margin-right: 3rem;
  padding: 50px 0;
  position: relative;
}

.demo video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  height: 667px;
  margin-top: 3px;
}

.content {
  max-width: 400px;
  padding: 3rem 2rem 3rem 1rem;
}

.logo {
  width: 223px;
  height: 97px;
  background: url("../img/logo.png") no-repeat center;
  background-size: 100% auto;
  margin-bottom: 15px;
  margin-left: -7px;
}

.tagline {
  width: 230px;
  height: 22px;
  background: url("../img/tagline.png") no-repeat center;
  background-size: 100% auto;
  margin-bottom: 40px;
  margin-left: 16px;
}

.description {
  width: 280px;
  margin: 0 0 40px 14px;
  color: #c5cbd4;
}

.description p {
  font-style: italic;
}

.features {
  color: #c5cbd4;
  font-weight: 300;
}

.feature {
  background: no-repeat left;
  background-size: 64px auto;
  padding: 5px 0 5px calc(64px + 5px);
  margin-bottom: 50px;
}

.feature:not(:last-child) {
  margin-bottom: 2rem;
}

.feature.full-web {
  background-image: url("../img/full-web.svg");
}

.feature.one-handed {
  background-image: url("../img/one-handed.svg");
}

.feature.one-search {
  background-image: url("../img/one-search.svg");
}

footer {
  display: flex;
  margin-bottom: 18px;
}

.app-store {
  display: block;
  margin-left: 16px;
  transition: opacity 200ms ease-in-out;
  will-change: opacity;
  opacity: 1;
}

.app-store:hover {
  opacity: 0.8;
}

.app-store:active {
  opacity: 0.6;
  transition: none;
}

.authors {
  margin-left: 8px;
}

.author {
  display: inline-block;
  border-radius: 4px;
  padding: 0 3px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);
  color: #c5cbd4;
  text-decoration: none;
  font-size: 0.9rem;
  height: 18px;
  line-height: 18px;
  transition: opacity 200ms ease-in-out;
  will-change: opacity;
  opacity: 1;
}

.author:first-child {
  margin-bottom: 8px;
}

.author:hover {
  opacity: 0.8;
}

.author:active {
  opacity: 0.6;
  transition: none;
}

@media only screen and (max-width: 375px) {
  .app-store,
  .app-store img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .demo {
    display: none;
  }

  .content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
